body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#TabMenu1
{
   text-align: left;
   float: left;
   margin: 0;
   width: 100%;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   list-style-type: none;
   padding: 15px 0 4px 10px;
   overflow: hidden;
}
#TabMenu1 li
{
   float: left;
}
#TabMenu1 li a.active, #TabMenu1 li a:hover.active
{
   position: relative;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   z-index: 2;
}
#TabMenu1 li a
{
   padding: 5px 14px 8px 14px;
   margin-right: 3px;
   text-decoration: none;
   text-transform: none;
   border-bottom: none;
   position: relative;
   top: 0;
   transition: 200ms all linear;
}
#TabMenu1 li a:hover
{
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   top: -4px;
}
#TabMenu1
{
   border-bottom: 1px solid #0D6EFD;
}
#TabMenu1 li a.active, #TabMenu1 li a:hover.active
{
   background-color: #66CDAA;
   color: #FFFFFF;
}
#TabMenu1 li a
{
   border: 1px solid #0D6EFD;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   background-color: #66CDAA;
   color: #FFFFFF;
}
#TabMenu1 li a:hover
{
   background-color: #66CDAA;
   color: #666666;
}
#Button2
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #FFFF00;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button2:focus
{
   outline: 0;
}
#Button2:hover
{
   background-color: #FFD700;
   transition: background-color 1ms linear 0ms;
}
#wb_Heading1
{
   background-image: linear-gradient(to top, #FFFF00 0%, #FFFFFF 100%);
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#Button3
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #FFFF00;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button3:focus
{
   outline: 0;
}
#Button3:hover
{
   background-color: #FFD700;
   transition: background-color 1ms linear 0ms;
}
#Button4
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #FFFF00;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button4:focus
{
   outline: 0;
}
#Button4:hover
{
   background-color: #FFD700;
   transition: background-color 1ms linear 0ms;
}
#Button5
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #FFFF00;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button5:focus
{
   outline: 0;
}
#Button5:hover
{
   background-color: #FFD700;
   transition: background-color 1ms linear 0ms;
}
#Button6
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #FFFF00;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button6:focus
{
   outline: 0;
}
#Button6:hover
{
   background-color: #FFD700;
   transition: background-color 1ms linear 0ms;
}
#Button7
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #FFFF00;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button7:focus
{
   outline: 0;
}
#Button7:hover
{
   background-color: #FFD700;
   transition: background-color 1ms linear 0ms;
}
#wb_Heading2
{
   background-image: linear-gradient(to top, #90EE90 0%, #FFFFFF 100%);
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading2
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#Button8
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #90EE90;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button8:focus
{
   outline: 0;
}
#Button8:hover
{
   background-color: #32CD32;
   transition: background-color 1ms linear 0ms;
}
#Button9
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #90EE90;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button9:focus
{
   outline: 0;
}
#Button9:hover
{
   background-color: #32CD32;
   transition: background-color 1ms linear 0ms;
}
#wb_Heading3
{
   background-image: linear-gradient(to top, #D2691E 0%, #FFFFFF 100%);
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading3
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#Button10
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button10:focus
{
   outline: 0;
}
#Button10:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button11
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button11:focus
{
   outline: 0;
}
#Button11:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button12
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 11px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button12:focus
{
   outline: 0;
}
#Button12:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button13
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 9.3px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button13:focus
{
   outline: 0;
}
#Button13:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button14
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button14:focus
{
   outline: 0;
}
#Button14:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button15
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button15:focus
{
   outline: 0;
}
#Button15:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button16
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button16:focus
{
   outline: 0;
}
#Button16:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button17
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button17:focus
{
   outline: 0;
}
#Button17:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button18
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button18:focus
{
   outline: 0;
}
#Button18:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button19
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button19:focus
{
   outline: 0;
}
#Button19:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button20
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button20:focus
{
   outline: 0;
}
#Button20:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button21
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button21:focus
{
   outline: 0;
}
#Button21:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button22
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #90EE90;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button22:focus
{
   outline: 0;
}
#Button22:hover
{
   background-color: #32CD32;
   transition: background-color 1ms linear 0ms;
}
#Button23
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #90EE90;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button23:focus
{
   outline: 0;
}
#Button23:hover
{
   background-color: #32CD32;
   transition: background-color 1ms linear 0ms;
}
#wb_Heading4
{
   background-image: linear-gradient(to top, #4169E1 0%, #FFFFFF 100%);
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading4
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#Button24
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #4169E1;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button24:focus
{
   outline: 0;
}
#Button24:hover
{
   background-color: #0000CD;
   transition: background-color 1ms linear 0ms;
}
#Button25
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #4169E1;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button25:focus
{
   outline: 0;
}
#Button25:hover
{
   background-color: #0000CD;
   transition: background-color 1ms linear 0ms;
}
#Button26
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #4169E1;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button26:focus
{
   outline: 0;
}
#Button26:hover
{
   background-color: #0000CD;
   transition: background-color 1ms linear 0ms;
}
#Button27
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #4169E1;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button27:focus
{
   outline: 0;
}
#Button27:hover
{
   background-color: #0000CD;
   transition: background-color 1ms linear 0ms;
}
#Button28
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #4169E1;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button28:focus
{
   outline: 0;
}
#Button28:hover
{
   background-color: #0000CD;
   transition: background-color 1ms linear 0ms;
}
#Button29
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #4169E1;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button29:focus
{
   outline: 0;
}
#Button29:hover
{
   background-color: #0000CD;
   transition: background-color 1ms linear 0ms;
}
#MediaPlayer1
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#SlideMenu1 ul
{
   list-style: none;
   margin: 0;
   padding: 0;
   font-family: "Times New Roman";
   font-weight: normal;
   font-size: 21px;
}
#SlideMenu1 ul ul
{
   overflow: hidden;
}
#SlideMenu1 ul ul.show
{
   height: auto;
}
#SlideMenu1 > ul > li > a
{
   background-color: rgba(255,255,255,0.00);
   border-color: #000000;
   border-style: solid;
   border-width: 1px;
   color: #212529;
   cursor: pointer;
   display: block;
   left: 0;
   font-weight: normal;
   font-style: normal;
   text-transform: uppercase;
   height: 23px;
   margin: 0;
   padding: 2px 2px 2px 5px;
   position: relative;
   top: 0;
   text-decoration: none;
   text-align: left;
}
#SlideMenu1 > ul > li a:hover
{
   background-color: #008000;
   border-color: #008000;
   color: #FFFFFF;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
}
#SlideMenu1 li li a
{
   background-color: #00FF00;
   border-color: #008000;
   border-style: solid;
   border-width: 1px;
   color: #FFFFFF;
   text-align: left;
   display: block;
   font-weight: normal;
   font-style: normal;
   text-transform: none;
   height: 23px;
   margin: 1px 0 1px 0 ;
   padding: 2px 2px 2px 5px;
   text-decoration: none;
}
#SlideMenu1 li li a:hover
{
   background-color: #0B5ED7;
   border-color: #0A58CA;
   color: #FFFFFF;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
}
