body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Button2
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #FFFF00;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button2:focus
{
   outline: 0;
}
#Button2:hover
{
   background-color: #FFD700;
   transition: background-color 1ms linear 0ms;
}
#wb_Heading1
{
   background-image: linear-gradient(to top, #FFFF00 0%, #FFFFFF 100%);
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#Button3
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #FFFF00;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button3:focus
{
   outline: 0;
}
#Button3:hover
{
   background-color: #FFD700;
   transition: background-color 1ms linear 0ms;
}
#Button4
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #FFFF00;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button4:focus
{
   outline: 0;
}
#Button4:hover
{
   background-color: #FFD700;
   transition: background-color 1ms linear 0ms;
}
#Button5
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #FFFF00;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button5:focus
{
   outline: 0;
}
#Button5:hover
{
   background-color: #FFD700;
   transition: background-color 1ms linear 0ms;
}
#Button7
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-color: #FFFF00;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button7:focus
{
   outline: 0;
}
#Button7:hover
{
   background-color: #FFD700;
   transition: background-color 1ms linear 0ms;
}
#wb_Heading2
{
   background-image: linear-gradient(to top, #90EE90 0%, #FFFFFF 100%);
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading2
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#Button8
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #90EE90;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button8:focus
{
   outline: 0;
}
#Button8:hover
{
   background-color: #32CD32;
   transition: background-color 1ms linear 0ms;
}
#Button9
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #90EE90;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button9:focus
{
   outline: 0;
}
#Button9:hover
{
   background-color: #32CD32;
   transition: background-color 1ms linear 0ms;
}
#wb_Heading3
{
   background-image: linear-gradient(to top, #D2691E 0%, #FFFFFF 100%);
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading3
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#Button10
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button10:focus
{
   outline: 0;
}
#Button10:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button11
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button11:focus
{
   outline: 0;
}
#Button11:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button12
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 11px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button12:focus
{
   outline: 0;
}
#Button12:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button13
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 9.3px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button13:focus
{
   outline: 0;
}
#Button13:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button14
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button14:focus
{
   outline: 0;
}
#Button14:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button15
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button15:focus
{
   outline: 0;
}
#Button15:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button16
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button16:focus
{
   outline: 0;
}
#Button16:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button17
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button17:focus
{
   outline: 0;
}
#Button17:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button18
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button18:focus
{
   outline: 0;
}
#Button18:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button19
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button19:focus
{
   outline: 0;
}
#Button19:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button20
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button20:focus
{
   outline: 0;
}
#Button20:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button21
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button21:focus
{
   outline: 0;
}
#Button21:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button22
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #90EE90;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button22:focus
{
   outline: 0;
}
#Button22:hover
{
   background-color: #32CD32;
   transition: background-color 1ms linear 0ms;
}
#Button23
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #90EE90;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button23:focus
{
   outline: 0;
}
#Button23:hover
{
   background-color: #32CD32;
   transition: background-color 1ms linear 0ms;
}
#wb_Heading4
{
   background-image: linear-gradient(to top, #4169E1 0%, #FFFFFF 100%);
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading4
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#Button24
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #4169E1;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button24:focus
{
   outline: 0;
}
#Button24:hover
{
   background-color: #0000CD;
   transition: background-color 1ms linear 0ms;
}
#Button25
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #4169E1;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button25:focus
{
   outline: 0;
}
#Button25:hover
{
   background-color: #0000CD;
   transition: background-color 1ms linear 0ms;
}
#Button26
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #4169E1;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button26:focus
{
   outline: 0;
}
#Button26:hover
{
   background-color: #0000CD;
   transition: background-color 1ms linear 0ms;
}
#Button27
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #4169E1;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button27:focus
{
   outline: 0;
}
#Button27:hover
{
   background-color: #0000CD;
   transition: background-color 1ms linear 0ms;
}
#Button28
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #4169E1;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button28:focus
{
   outline: 0;
}
#Button28:hover
{
   background-color: #0000CD;
   transition: background-color 1ms linear 0ms;
}
#Button29
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #4169E1;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button29:focus
{
   outline: 0;
}
#Button29:hover
{
   background-color: #0000CD;
   transition: background-color 1ms linear 0ms;
}
#DatePicker1 .ui-datepicker
{
   font-family: "Times New Roman";
   font-weight: normal;
   font-size: 13px;
   z-index: 1003 !important;
   display: none;
   width: 100%;
   --svg-prev: url('data:image/svg+xml;charset=utf8,%3csvg%20viewBox%3d%220%200%201024%201024%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%20fill%3d%22%23000000%22%3e%0d%0a%3cpath%20d%3d%22M512%200c282.77%200%20512%20229.23%20512%20512s%2d229.23%20512%2d512%20512c%2d282.77%200%2d512%2d229.23%2d512%2d512s229.23%2d512%20512%2d512zM633.051%20222.72l%2d335.214%20278.235c%2d3.182%202.633%2d5.23%206.583%2d5.303%2011.081%200.037%205.266%201.755%208.155%205.303%2011.081l335.214%20278.162c9.874%208.155%2025.234%201.17%2025.234%2d11.337v%2d555.886c0.115%2d12.189%2d16.021%2d18.701%2d25.234%2d11.337z%22/%3e%0d%0a%3c/svg%3e%0d%0a');
   --svg-next: url('data:image/svg+xml;charset=utf8,%3csvg%20viewBox%3d%220%200%201024%201024%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%20fill%3d%22%23000000%22%3e%0d%0a%3cpath%20d%3d%22M512%201024c%2d282.77%200%2d512%2d229.23%2d512%2d512s229.23%2d512%20512%2d512c282.77%200%20512%20229.23%20512%20512s%2d229.23%20512%2d512%20512zM390.949%20801.28l335.214%2d278.235c3.182%2d2.633%205.23%2d6.583%205.303%2d11.081%2d0.037%2d5.266%2d1.755%2d8.155%2d5.303%2d11.081l%2d335.214%2d278.162c%2d9.874%2d8.155%2d25.234%2d1.17%2d25.234%2011.337v555.886c%2d0.115%2012.189%2016.021%2018.701%2025.234%2011.337z%22/%3e%0d%0a%3c/svg%3e%0d%0a');
}
#DatePicker1 .ui-datepicker td a
{
   text-align: center;
   padding: 3px 3px 3px 3px;
}
.ui-datepicker, .ui-datepicker .ui-corner-all
{
   border-radius: 0px;
}
#DatePicker1 .ui-datepicker-header .ui-icon
{
   -webkit-mask-position: 50% 50%;
   mask-position: 50% 50%;
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
   -webkit-mask-size: 14px 14px;
   mask-size: 14px 14px;
}
#DatePicker1 .ui-widget-content
{
   border-color: #DEE2E6;
   background-color: transparent;
   background-image: none;
   color: #212529;
}
#DatePicker1 .ui-widget-header
{
   border-color: #D2D2D2;
   background-color: #F8F8F8;
   background-image: none;
   color: #212529;
}
#DatePicker1 .ui-state-default
{
   border-color: #000000;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
}
#DatePicker1 .ui-icon.ui-icon-circle-triangle-w
{
   background-color: #000000;
   background-image: none;
   -webkit-mask-image: var(--svg-prev);
   mask-image: var(--svg-prev);
}
#DatePicker1 .ui-icon.ui-icon-circle-triangle-e
{
   background-color: #000000;
   background-image: none;
   -webkit-mask-image: var(--svg-next);
   mask-image: var(--svg-next);
}
#DatePicker1 .ui-state-hover
{
   border-color: #0A58CA;
   background-color: #0B5ED7;
   background-image: none;
   color: #FFFFFF;
}
#DatePicker1 .ui-state-hover .ui-icon.ui-icon-circle-triangle-w
{
   background-color: #FFFFFF;
   background-image: none;
   -webkit-mask-image: var(--svg-prev);
   mask-image: var(--svg-prev);
}
#DatePicker1 .ui-state-hover .ui-icon.ui-icon-circle-triangle-e
{
   background-color: #FFFFFF;
   background-image: none;
   -webkit-mask-image: var(--svg-next);
   mask-image: var(--svg-next);
}
#DatePicker1 .ui-state-active
{
   border-color: #0A53BE;
   background-color: #FF7F50;
   background-image: none;
   color: #FFFFFF;
}
#DatePicker1 .ui-state-active .ui-icon.ui-icon-circle-triangle-w
{
   background-color: #FFFFFF;
   background-image: none;
   -webkit-mask-image: var(--svg-prev);
   mask-image: var(--svg-prev);
}
#DatePicker1 .ui-state-active .ui-icon.ui-icon-circle-triangle-e
{
   background-color: #FFFFFF;
   background-image: none;
   -webkit-mask-image: var(--svg-next);
   mask-image: var(--svg-next);
}
#wb_DatePicker1
{
   margin: 0;
}
#GoMenu1-select
{
   border: 1px solid #DEE2E6;
   border-radius: 0px;
   background-color: #FFFFFF;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-decoration: none;
   text-transform: none;
}
#GoMenu1-select
{
   float: left;
   height: 100%;
   width: 100%;
}
#GoMenu1
{
   height: 100%;
   margin: 0;
}
.DropdownMenu1 .nav
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #000000;
   text-align: left;
   text-transform: none;
}
#DropdownMenu1, .DropdownMenu1 .nav, .DropdownMenu1 *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.DropdownMenu1 .nav:before,
.DropdownMenu1 .nav:after 
{
   content: " ";
   display: table;
}
.DropdownMenu1 .nav:after 
{
   clear: both;
}
.DropdownMenu1 .nav a 
{
   text-decoration: none;
}
.DropdownMenu1 .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.DropdownMenu1 .nav ul ul
{
   margin-bottom: 0;
}
.DropdownMenu1 .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.DropdownMenu1 .container:before,
.DropdownMenu1 .container:after 
{
   content: " ";
   display: table;
}
.DropdownMenu1 .container:after 
{
   clear: both;
}
.DropdownMenu1 .collapse 
{
   display: none;
}
.DropdownMenu1 .collapse.show 
{
   display: block;
}
.DropdownMenu1 .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   transition: height .35s ease;
}
.DropdownMenu1 .caret, .DropdownMenu1 .caret-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.DropdownMenu1 .dropdown 
{
   position: relative;
}
.DropdownMenu1 .dropdown-toggle:focus 
{
   outline: 0;
}
.DropdownMenu1 .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 13px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid rgba(0,0,0,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.DropdownMenu1 .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #000000;
}
.DropdownMenu1 .dropdown-menu > li > a
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #000000;
   text-transform: none;
   white-space: nowrap;
}
.DropdownMenu1 .dropdown-menu > li > a:hover,
.DropdownMenu1 .dropdown-menu > li > a:focus 
{
   text-decoration: none;
   color: #FFFFFF;
   background-color: #0B5ED7;
   background-image: none;
}
.DropdownMenu1 .dropdown-menu > li > a.active,
.DropdownMenu1 .dropdown-menu > li > a.active:hover,
.DropdownMenu1 .dropdown-menu > li > a.active:focus
{
   color: #FFFFFF;
   background-color: #0B5ED7;
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.DropdownMenu1 .show > .dropdown-menu
{
   display: block;
}
.DropdownMenu1 .show > a
{
   outline: 0;
}
.DropdownMenu1 .dropdown-header
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.DropdownMenu1 .dropdown-backdrop
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.DropdownMenu1 .nav > li 
{
   position: relative;
   display: block;
}
.DropdownMenu1 .nav > li > a
{
   position: relative;
   display: block;
   padding: 10px 15px 10px 15px;
}
.DropdownMenu1 .nav .show > a,
.DropdownMenu1 .nav .show > a:hover,
.DropdownMenu1 .nav .show > a:focus
{
    border-color: #FFFFFF;
}
.DropdownMenu1 .nav .nav-divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #000000;
}
.DropdownMenu1 .nav .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1
{
   position: relative;
}
.DropdownMenu1:before,
.DropdownMenu1:after
{
   content: " ";
   display: table;
}
.DropdownMenu1:after
{
   clear: both;
}
.DropdownMenu1 .navbar-header:before,
.DropdownMenu1 .navbar-header:after
{
   content: " ";
   display: table;
}
.DropdownMenu1 .navbar-header:after
{
   clear: both;
}
.DropdownMenu1-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.DropdownMenu1-navbar-collapse:before,
.DropdownMenu1-navbar-collapse:after
{
   content: " ";
   display: table;
}
.DropdownMenu1-navbar-collapse:after
{
   clear: both;
}
.DropdownMenu1-navbar-collapse.show
{
   overflow-y: auto;
}
.DropdownMenu1 .navbar-toggle 
{
   position: relative;
   float: left;
   padding: 9px 10px 8px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.DropdownMenu1 .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.DropdownMenu1 .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.DropdownMenu1 .navbar-nav
{
   margin: 6px -15px;
}
.DropdownMenu1 .navbar-nav > li > .dropdown-menu
{
   margin-top: 0;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
}
.DropdownMenu1 .navbar-nav > li > a
{
   color: #000000;
}
.DropdownMenu1 .navbar-nav > li > a:hover,
.DropdownMenu1 .navbar-nav > li > a:focus
{
   background-color: #0B5ED7;
   background-image: none;
   color: #FFFFFF;
   text-decoration: none;
}
.DropdownMenu1 .navbar-nav > li > a.active,
.DropdownMenu1 .navbar-nav > li > a.active:hover,
.DropdownMenu1 .navbar-nav > li > a.active:focus
{
   color: #FFFFFF;
   background-color: #0B5ED7;
   background-image: none;
}
.DropdownMenu1 .navbar-toggle
{
   border: 1px solid transparent;
}
.DropdownMenu1 .navbar-toggle:hover,
.DropdownMenu1 .navbar-toggle:focus
{
   background-color: transparent;
}
.DropdownMenu1 .navbar-toggle .icon-bar
{
   background-color: #212529;
}
.DropdownMenu1-navbar-collapse
{
   border-color: rgba(0,0,0,1.00);
}
.DropdownMenu1 .navbar-nav > .dropdown > a:hover .caret,
.DropdownMenu1 .navbar-nav > .dropdown > a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1 .navbar-nav > .show > a,
.DropdownMenu1 .navbar-nav > .show > a:hover,
.DropdownMenu1 .navbar-nav > .show > a:focus
{
   background-color: #0B5ED7;
   background-image: none;
   color: #FFFFFF;
}
.DropdownMenu1 .navbar-nav > .show > a .caret,
.DropdownMenu1 .navbar-nav > .show > a:hover .caret,
.DropdownMenu1 .navbar-nav > .show > a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1 .navbar-nav > .dropdown > a .caret
{
   border-top-color: #000000;
   border-bottom-color: #000000;
}
.DropdownMenu1 .navbar-link
{
   color: #000000;
}
.DropdownMenu1 .navbar-link:hover
{
   color: #FFFFFF;
}
.DropdownMenu1 .navbar-header
{
   color: #212529;
}
@media (min-width: 768px) 
{
.DropdownMenu1 .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.DropdownMenu1 .navbar-header
{
   float: left;
}
.DropdownMenu1-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.DropdownMenu1-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.DropdownMenu1-navbar-collapse.show
{
   overflow-y: auto;
}
.DropdownMenu1 .navbar-toggle
{
   display: none;
}
.DropdownMenu1 .navbar-nav
{
   float: left;
   margin: 0;
}
.DropdownMenu1 .navbar-nav > li
{
   float: left;
}
.DropdownMenu1 .container > .navbar-header,
.DropdownMenu1 .container > .DropdownMenu1-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.DropdownMenu1 .navbar-nav > .dropdown > a:hover .caret,
.DropdownMenu1 .navbar-nav > .dropdown > a:focus .caret
{
   border-top-color: #000000;
   border-bottom-color: #000000;
}
}
@media (max-width: 768px) 
{
.DropdownMenu1 
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
}
.DropdownMenu1 .navbar-nav
{
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
}
.DropdownMenu1 .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.DropdownMenu1 .navbar-nav .show .dropdown-menu > li > a,
.DropdownMenu1 .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 25px;
}
.DropdownMenu1 .navbar-nav .show .dropdown-menu > li > a
{
   line-height: 20px;
}
}
@media (min-width: 768px) 
{
.DropdownMenu1 
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 0px;
}
.DropdownMenu1 .navbar-nav > li > a
{
   color: #212529;
}
.DropdownMenu1 .navbar-nav > li > a:hover,
.DropdownMenu1 .navbar-nav > li > a:focus
{
   color: #000000;
   background-color: transparent;
   background-image: none;
}
.DropdownMenu1 .navbar-nav > li > a.active,
.DropdownMenu1 .navbar-nav > li > a.active:hover,
.DropdownMenu1 .navbar-nav > li > a.active:focus
{
   color: #000000;
   background-color: transparent;
   background-image: none;
}
.DropdownMenu1 .navbar-nav > .show > a,
.DropdownMenu1 .navbar-nav > .show > a:hover,
.DropdownMenu1 .navbar-nav > .show > a:focus
{
   background-color: transparent;
   background-image: none;
   color: #000000;
}
.DropdownMenu1 .navbar-nav > .dropdown > a:hover .caret
{
   border-top-color: #000000;
   border-bottom-color: #000000;
}
.DropdownMenu1 .navbar-nav > .dropdown > a .caret
{
   border-top-color: #212529;
   border-bottom-color: #212529;
}
.DropdownMenu1 .navbar-nav > li > a.active > .caret,
.DropdownMenu1 .navbar-nav > li > a.active:hover > .caret,
.DropdownMenu1 .navbar-nav > li > a.active:focus > .caret
{
   border-top-color: #000000;
   border-bottom-color: #000000;
}
.DropdownMenu1 .navbar-nav > .show > a .caret,
.DropdownMenu1 .navbar-nav > .show > a:hover .caret,
.DropdownMenu1 .navbar-nav > .show > a:focus .caret
{
   border-top-color: #000000;
   border-bottom-color: #000000;
}
.DropdownMenu1 .navbar-link
{
   color: #212529;
}
.DropdownMenu1 .navbar-link:hover 
{
   color: #fff;
}
}
#DropdownMenu1 i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#Button1
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button1:focus
{
   outline: 0;
}
#Button1:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
#Button6
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #90EE90;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button6:focus
{
   outline: 0;
}
#Button6:hover
{
   background-color: #32CD32;
   transition: background-color 1ms linear 0ms;
}
#Button30
{
   box-sizing: border-box;
   line-height: 58px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-clip: padding-box;
   background-color: #D2691E;
   background-image: none;
   color: #000000;
   box-shadow: 0px 0px 5px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: underline;
   -webkit-appearance: none;
   margin: 0;
}
#Button30:focus
{
   outline: 0;
}
#Button30:hover
{
   background-color: #A0522D;
   transition: background-color 1ms linear 0ms;
}
